# انسخ هذا الملف وسميه .env
# باش تخدم بـ MongoDB محلي (على جهازك):
MONGO_URI=mongodb://127.0.0.1:27017/northstar

# باش تخدم بـ MongoDB Atlas (سحابي - مجاني):
# MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/northstar

PORT=5000
